*{
	font-family: 'Cairo', sans-serif;
}

body{
		background-color: rgba(0,0,255, 0.05);
}
input[type=text] {
    width: 20%;
	height: 20px;
	margin-top: 25px; 
	margin-left: 60px; 
	margin-right: 25px; 
	font-size: 22px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

#search-container{
	margin-bottom: 20px; 
}

.card {
	margin-top: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px; 
	background-color: white;
}

.card:hover{
    transform: scale(1.03); /** Value over 1.0 will zoom-in**/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

#article-container{
	width: 90%; 
	text-align: center;
	justify-content: center; 
	margin: 0 auto; 
	align-content: center; 
}

#article, #feed-item{
	width: 33%; 
	display: inline-block;
	justify-content: center; 
	text-align: center; 
	vertical-align: middle;
}
#trending-tag{
	border: 1px solid blue; 
	text-align: center; 
	color: ghostwhite;
	background-color: blue; 
	font-size: calc(14px + 2vmin);
	transition: 2s ease-in-out;
	font-family: serif;
	font-weight: 200;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

iframe{
	padding-top: 10px; 
	max-width: 85%;
	max-height: 200px; 
}

img:hover{
	transform: scale(1.03); /** Value over 1.0 will zoom-in**/

}

#article-title{
	text-transform: capitalize;
	font-size: calc(10px + 2vmin);
	width: 90%;
	font-weight: 300; 
}

#video-container{
	width: 50%;
	text-align: center;
	justify-content: center; 
	align-content: center; 
	margin: 0 auto; 
	margin-top: 30px;
	margin-bottom: 30px; 
}

#video{
	width: 100%;
}
h4{
	font-size: calc(7px + 2vmin);
	font-weight: 400;
	text-transform: capitalize;
}


h5{
	font-size: calc(11px + 2vmin);
	font-weight: 400; 
}


#feed-container{
	width: 75%; 
	text-align: left;
	justify-content: center; 
	margin: 0 auto; 
	margin-bottom: 50px;
	padding-bottom: 40px; 
}

#comment-input{
    width: 80%;
	height: 20px;
	margin-top: 25px; 
	margin-left: 60px; 
	margin-right: 25px; 
	font-size: 18px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#comments-input:focus {
    width: 75%;
	height: 30px; 
}

.comment{
	display: flex; 
	margin: 0 auto; 
	width: 85%;
	background-color: rgba(0,0,255, 0.1);
	border: 0.5px solid navy; 
	padding: 3px; 
	margin-bottom: 4px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.comment:hover{
		transform: scale(1.03); /** Value over 1.0 will zoom-in**/
}

.comment p{
	font-size: calc(8px + 2vmin);
	font-weight: 300; 
	margin-right: 5px; 
}

.comment img{
	height: 40px; 
	border: 2px solid navy; 
	border-radius: 30%;
	margin-right: 10px;

}

li{
	list-style: none; 
}


#vid-div{
	position: relative; width: 100%; height: 0; padding-bottom: 56.25%;
}

#iframe{
	position: absolute; top: 0; left: 0;
}
